body {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.cabecera {
    background: blue;
    color: white;
    margin: 0;
    padding: 0.5em;
}

.container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid black;
    margin: 0 auto;
}

.container h1
{
    font-size: 20px;
}